<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>City</key>
		<string>Amravati</string>
		<key>Latitude</key>
		<real>20.9374238</real>
		<key>Longitude</key>
		<real>77.77955129999999</real>
	</dict>
	<dict>
		<key>City</key>
		<string>Solapur</string>
		<key>Latitude</key>
		<real>17.67152</real>
		<key>Longitude</key>
		<real>75.91043999999999</real>
	</dict>
	<dict>
		<key>City</key>
		<string>Pune</string>
		<key>Latitude</key>
		<real>18.51957</real>
		<key>Longitude</key>
		<real>73.85535</real>
	</dict>
	<dict>
		<key>City</key>
		<string>Mumbai</string>
		<key>Latitude</key>
		<real>19.19704</real>
		<key>Longitude</key>
		<real>72.96355</real>
	</dict>
	<dict>
		<key>City</key>
		<string>Shegaon</string>
		<key>Latitude</key>
		<real>20.792713</real>
		<key>Longitude</key>
		<real>76.694328</real>
	</dict>
</array>
</plist>
